In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://codeup.com/blog/'

In [3]:
headers = {'User-Agent': 'Codeup Data Science'}

In [4]:
requests.get(url, headers=headers)

In [5]:
soup = BeautifulSoup(requests.get(url, headers=headers).content, 'html.parser')

In [6]:
soup.find_all('a', class_='more-link')

[<a class="more-link" href="https://codeup.com/codeup-news/dei-report/">read more</a>,
 <a class="more-link" href="https://codeup.com/codeup-news/diversity-and-inclusion-award/">read more</a>,
 <a class="more-link" href="https://codeup.com/featured/financing-career-transition/">read more</a>,
 <a class="more-link" href="https://codeup.com/tips-for-prospective-students/tips-for-women/">read more</a>,
 <a class="more-link" href="https://codeup.com/cloud-administration/cloud-computing-and-aws/">read more</a>,
 <a class="more-link" href="https://codeup.com/codeup-news/c-suite-award-stephen-noteboom/">read more</a>]

In [7]:
soup.select('a.more-link')[0]['href']

'https://codeup.com/codeup-news/dei-report/'

In [8]:
blog_posts = [link['href'] for link in soup.select('a.more-link')]

In [9]:
def get_blogs_urls(url, header = {'User-Agent': 'Codeup Data Science'}):
    soup = BeautifulSoup(requests.get(url, headers=header).content, 'html.parser')
    return [link['href'] for link in soup.select('a.more-link')]

In [10]:
get_blogs_urls(url)

['https://codeup.com/codeup-news/dei-report/',
 'https://codeup.com/codeup-news/diversity-and-inclusion-award/',
 'https://codeup.com/featured/financing-career-transition/',
 'https://codeup.com/tips-for-prospective-students/tips-for-women/',
 'https://codeup.com/cloud-administration/cloud-computing-and-aws/',
 'https://codeup.com/codeup-news/c-suite-award-stephen-noteboom/']

In [11]:
article_soup = BeautifulSoup(requests.get('https://codeup.com/codeup-news/dei-report/', headers=headers).content)

In [12]:
article_soup.select_one('h1.entry-title').text

'Diversity Equity and Inclusion Report'

In [13]:
article_soup.select_one('div.entry-content').text.strip()

'Codeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an organization, we’ve implemented policies and grown our DEI efforts. We are extremely proud of the progress we’ve made as a staff and Codeup community, and we recognize there is more to learn. This report captures some of the ways that we’ve lived our value of Cultivating Inclusive Growth, and how we will continue doing so as we look to the future.\nWe wanted to shine a light on the demographics of our students and staff, and in particular how that compares to the tech industry as a whole. How we collect, organize, and share employee demographic data is informed by standards set by the Equal Employment Opportunity Commission (EEOC).\nWe are proud to celebrate how we’ve grown and are motivated and committed to do more and be better. To view the report visit the link here, or download it below.'

In [14]:
def get_blog_content(base_url):
    urls = get_blogs_urls(base_url)
    output = []
    for blog in urls:
        article_soup = BeautifulSoup(requests.get(blog, headers=headers).content)
        blog_output = {'title': article_soup.select_one('h1.entry-title').text,
        'content': article_soup.select_one('div.entry-content').text.strip()}
        output.append(blog_output)
    return pd.DataFrame(output)

In [15]:
get_blog_content(url)

,title,content
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note..."

In [16]:
import acquire

In [17]:
url

'https://codeup.com/blog/'

In [18]:
acquire.get_blog_articles(url)

/Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py:13: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 13 of the file /Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  article_soup = BeautifulSoup(requests.get(blog, headers=header).content)

,title,content
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note..."

In [6]:
len(soup.select('article'))

6

In [7]:
articles = soup.select('article')

In [8]:
articles[0]

<article class="et_pb_post clearfix et_pb_blog_item_0_0 post-19236 post type-post status-publish format-standard has-post-thumbnail hentry category-codeup-news" id="post-19236">
<div class="et_pb_image_container"><a class="entry-featured-image-url" href="https://codeup.com/codeup-news/dei-report/"><img alt="Diversity Equity and Inclusion Report" class="" height="250" loading="lazy" sizes="(max-width:479px) 479px, 100vw " src="https://199lj33nqk3p88xz03dvn481-wpengine.netdna-ssl.com/wp-content/uploads/2022/10/Featured-Images-400x250.jpg" srcset="https://199lj33nqk3p88xz03dvn481-wpengine.netdna-ssl.com/wp-content/uploads/2022/10/Featured-Images.jpg 479w, https://199lj33nqk3p88xz03dvn481-wpengine.netdna-ssl.com/wp-content/uploads/2022/10/Featured-Images-400x250.jpg 480w " width="400"/></a></div>
<h2 class="entry-title"><a href="https://codeup.com/codeup-news/dei-report/">Diversity Equity and Inclusion Report</a></h2>
<p class="post-meta"><span class="published">Oct 7, 2022</span></p><div class="post-content"><div class="post-content-inner"><p>Codeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an...</p>
</div><a class="more-link" href="https://codeup.com/codeup-news/dei-report/">read more</a></div>
</article>

In [9]:
[thing.text.strip() for thing in soup.select('article')[0].div]

['']

In [10]:
articles[0].find_all('p')[1].text.strip()

'Codeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an...'

In [11]:
def get_article_content(art):
    output = {}
    output['headline'] = art.find('h2').text.strip()
    output['content'] = art.find_all('p')[1].text.strip()
    return output

In [12]:
get_article_content(articles[0])

{'headline': 'Diversity Equity and Inclusion Report',
 'content': 'Codeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an...'}

In [13]:
def acquire_articles(url):
    headers = {'User-Agent': 'Codeup Data Science'}
    soup = BeautifulSoup(requests.get(url, headers=headers).content, 'html.parser')
    arts = soup.select('article')
    final = [get_article_content(art) for art in arts]
    return pd.DataFrame(final)

In [14]:
acquire_articles(url)

,headline,content
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note..."

In [3]:
import acquire

In [4]:
url

'https://codeup.com/blog/'

In [5]:
acquire.get_blog_articles(url)

,headline,posted,content
0,Diversity Equity and Inclusion Report,"Oct 7, 2022",Codeup is excited to launch our first Diversit...
1,Codeup Honored as SABJ Diversity and Inclusion...,"Oct 7, 2022",Codeup has been named the 2022 Diversity and I...
2,How Can I Finance My Career Transition?,"Sep 29, 2022",Deciding to transition into a tech career is a...
3,Tips for Women Beginning a Career in Tech,"Sep 23, 2022","Codeup strongly values diversity, and inclusio..."
4,What is Cloud Computing and AWS?,"Sep 13, 2022",With many companies switching to cloud service...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Sep 9, 2022","Codeup’s Chief Operating Officer, Stephen Note..."

In [24]:
url = 'https://inshorts.com/en/read'

In [25]:
soup = BeautifulSoup(requests.get(url).content)

In [26]:
soup.find_all('li')[1].text.lower()

'india'

In [27]:
url + '/' + soup.find_all('li')[1].text.lower()

'https://inshorts.com/en/read/india'

In [28]:
def get_cats(url):
    soup = BeautifulSoup(requests.get(url).content)
    return [cat.text.lower() for cat in soup.find_all('li')[1:]]

In [29]:
get_cats(url)

['india',
 'business',
 'sports',
 'world',
 'politics',
 'technology',
 'startup',
 'entertainment',
 'miscellaneous',
 'hatke',
 'science',
 'automobile']

In [31]:
cat_url = url + '/science'

In [33]:
cat_soup = BeautifulSoup(requests.get(cat_url).content)
# cat_soup

In [45]:
cat_titles = [title.text for title in cat_soup.find_all('span', itemprop='headline')]

In [47]:
cat_bodies = [body.text for body in cat_soup.find_all('div', itemprop='articleBody')]

In [50]:
len(cat_bodies) == len(cat_titles)

True

In [55]:
# for title, body in zip(cat_titles, cat_bodies):
#     print(title)
#     print(body)
#     print()

In [62]:
def get_all_shorts(url):
    cats = get_cats(url)
    output = []
    for cat in cats:
        cat_url = url + '/' + cat
        cat_soup = BeautifulSoup(requests.get(cat_url).content)
        cat_titles = [title.text for title in cat_soup.find_all('span', itemprop='headline')]
        cat_bodies = [body.text for body in cat_soup.find_all('div', itemprop='articleBody')]
        caticles = [{'title': title,
                     'content': body,
                     'category': cat} for title, body in zip(cat_titles, cat_bodies)]
        output.extend(caticles)
    return pd.DataFrame(output)

In [63]:
url

'https://inshorts.com/en/read'

In [65]:
results = get_all_shorts(url)

In [66]:
results

,title,content,category
0,Oldest woman in India passes away,"Kunjannam, a 112-yr-old woman from Parannur (K...",india
1,Zimbabwe players ask India for cricketing tips,After getting thrashed by India by 5-0 in the ...,india
2,"AAP drops Rajouri Garden candidate, a week bef...","Only a week before Delhi Assembly polls, Aam A...",india
3,Kashmir's famous Dal Lake freezes,After the recent snowfall in upper reaches of ...,india
4,Bharti Airtel rakes in 61% profit,"Bharti Airtel, India's top telecommunications ...",india
...,...,...,...
279,Tesla's record EV deliveries in Q3 miss estima...,Tesla Inc said that electric vehicle deliverie...,automobile
280,China's Geely buys 7.6% stake in Aston Martin,China-based Zhejiang Geely announced on Friday...,automobile
281,Record 5.4 lakh vehicles sold during Navratri ...,Federation of Automobile Dealers Associations ...,automobile
282,Fix for wheel issue that caused electric car r...,Toyota Motor said it has found a fix for the d...,automobile
283,Vehicle registrations during festivals doubled...,Vehicle registrations more than doubled in thi...,automobile

In [20]:
url = 'https://inshorts.com/en/read/business'

In [11]:
page = ['/business', '/sports', '/technology', '/entertainment']

In [21]:
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

In [32]:
headers = soup.select('a.clickable')
# headers

In [26]:
headers[0].span.text.strip()

'HCLTech adds highest-ever 10,339 freshers, reports 23.8% attrition in Jul-Sept'

In [27]:
contents = soup.select('div.news-card-content.news-right-box')

In [29]:
# contents

In [31]:
contents[0].div.text.strip()

"HCLTech reported its highest-ever hiring of 10,339 freshers in July-September quarter, MD and CEO C Vijayakumar said on Wednesday. HCLTech's attrition rate in the quarter stood at 23.8%, same as that in April-June quarter. Meanwhile, the firm reported net employee addition of 8,359 employees in Q2 FY23, up from net employee addition of 2,089 employees in Q1 FY23."

In [49]:
url

'https://inshorts.com/en/read'

In [59]:
def acquire_articles(url):
    pages = ['/business', '/sports', '/technology', '/entertainment']
    results = pd.DataFrame()
    for page in pages:
        hold = get_article_content(url, page)
        results = pd.concat([results, hold])
    return results

In [53]:
def get_article_content(url, page):
    temp = {}
    soup = BeautifulSoup(requests.get(url+page).content, 'html.parser')
    headers = soup.select('a.clickable')
    contents = soup.select('div.news-card-content.news-right-box')
    titles = [title.span.text.strip() for title in headers]
    arts = [art.div.text.strip() for art in contents]
    temp['title'] = titles
    temp['content'] = arts
    temp['category'] = page.strip('/')
    return pd.DataFrame(temp)

In [55]:
bus = get_article_content(url, '/business')
sp = get_article_content(url, '/sports')

In [62]:
# pd.concat([bus, sp])

In [61]:
df = acquire_articles(url)

In [63]:
df.category.value_counts()

business         25
sports           25
entertainment    25
technology       24
Name: category, dtype: int64

In [6]:
url = 'https://inshorts.com/en/read'

In [7]:
acquire.get_news_articles(url)

,title,content,category
0,"HCLTech adds highest-ever 10,339 freshers, rep...",HCLTech reported its highest-ever hiring of 10...,business
1,11 lakh railway employees to get 78 days' wage...,Union Minister Anurag Thakur on Wednesday anno...,business
2,"Moonlighting a question of ethics, not legalit...",On being asked whether moonlighting is legal o...,business
3,Retail inflation averages at 7.02% in Jul-Sept...,Retail inflation in India averaged at 7.02% in...,business
4,Wipro to give 100% variable pay to 85% of empl...,IT services firm Wipro's CEO Thierry Delaporte...,business
...,...,...,...
20,Film festival in works to celebrate Dilip Kuma...,Film Heritage Foundation (FHF) founder Shivend...,entertainment
21,"I may not be most talented, but I'm the hardes...",Actress Janhvi Kapoor has said that people hav...,entertainment
22,"Got nose job to look prettier, it's my face, w...",Actress Shruti Haasan said it is very obvious ...,entertainment
23,Every day was difficult: Parineeti on filming ...,"Parineeti Chopra shared that ""every day was di...",entertainment
24,"'Yaariyan 2' to star Priya Prakash Varrier, Me...",T-Series on Wednesday announced the sequel of ...,entertainment