In [1]:
import pandas as pd
import numpy as np
import unicodedata
import re
import nltk
from nltk.corpus import stopwords

import acquire

In [2]:
blogs = acquire.get_blog_articles()

/Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py:15: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 15 of the file /Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  article_soup = BeautifulSoup(requests.get(blog, headers=header).content)

In [20]:
blogs

,title,content
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note..."

In [21]:
blogs.content[0]

'Codeup is excited to launch our first Diversity Equity, and Inclusion (DEI) report! In over eight years as an organization, we’ve implemented policies and grown our DEI efforts. We are extremely proud of the progress we’ve made as a staff and Codeup community, and we recognize there is more to learn. This report captures some of the ways that we’ve lived our value of Cultivating Inclusive Growth, and how we will continue doing so as we look to the future.\nWe wanted to shine a light on the demographics of our students and staff, and in particular how that compares to the tech industry as a whole. How we collect, organize, and share employee demographic data is informed by standards set by the Equal Employment Opportunity Commission (EEOC).\nWe are proud to celebrate how we’ve grown and are motivated and committed to do more and be better. To view the report visit the link here, or download it below.'

#### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:
- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [4]:
def basic_clean(text):
    temp = text.lower()
    temp = unicodedata.normalize('NFKD', temp).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    temp = re.sub(r'[^a-zA-Z0-9\'\s]', '', temp)
    return temp

In [8]:
bc = basic_clean(blogs.content[0])
bc

'codeup is excited to launch our first diversity equity and inclusion dei report in over eight years as an organization weve implemented policies and grown our dei efforts we are extremely proud of the progress weve made as a staff and codeup community and we recognize there is more to learn this report captures some of the ways that weve lived our value of cultivating inclusive growth and how we will continue doing so as we look to the future\nwe wanted to shine a light on the demographics of our students and staff and in particular how that compares to the tech industry as a whole how we collect organize and share employee demographic data is informed by standards set by the equal employment opportunity commission eeoc\nwe are proud to celebrate how weve grown and are motivated and committed to do more and be better to view the report visit the link here or download it below'

#### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [6]:
def tokenize(text):
    token = nltk.tokenize.ToktokTokenizer()
    temp = token.tokenize(text, return_str=True)
    return temp

In [10]:
t = tokenize(bc)
t

'codeup is excited to launch our first diversity equity and inclusion dei report in over eight years as an organization weve implemented policies and grown our dei efforts we are extremely proud of the progress weve made as a staff and codeup community and we recognize there is more to learn this report captures some of the ways that weve lived our value of cultivating inclusive growth and how we will continue doing so as we look to the future\nwe wanted to shine a light on the demographics of our students and staff and in particular how that compares to the tech industry as a whole how we collect organize and share employee demographic data is informed by standards set by the equal employment opportunity commission eeoc\nwe are proud to celebrate how weve grown and are motivated and committed to do more and be better to view the report visit the link here or download it below'

#### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [12]:
def stem(text):
    ps = nltk.porter.PorterStemmer()
    stems = [ps.stem(word) for word in text.split(' ')]
    stemmed = ' '.join(stems)
    return stemmed

In [19]:
s = stem(t)
s

'codeup is excit to launch our first divers equiti and inclus dei report in over eight year as an organ weve implement polici and grown our dei effort we are extrem proud of the progress weve made as a staff and codeup commun and we recogn there is more to learn thi report captur some of the way that weve live our valu of cultiv inclus growth and how we will continu do so as we look to the future\nw want to shine a light on the demograph of our student and staff and in particular how that compar to the tech industri as a whole how we collect organ and share employe demograph data is inform by standard set by the equal employ opportun commiss eeoc\nw are proud to celebr how weve grown and are motiv and commit to do more and be better to view the report visit the link here or download it below'

#### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [15]:
def lemmatize(text):
    wnl = nltk.stem.WordNetLemmatizer()
    lemons = [wnl.lemmatize(word) for word in text.split(' ')]
    lemmatized = ' '.join(lemons)
    return lemmatized

In [18]:
l = lemmatize(t)
l

'codeup is excited to launch our first diversity equity and inclusion dei report in over eight year a an organization weve implemented policy and grown our dei effort we are extremely proud of the progress weve made a a staff and codeup community and we recognize there is more to learn this report capture some of the way that weve lived our value of cultivating inclusive growth and how we will continue doing so a we look to the future\nwe wanted to shine a light on the demographic of our student and staff and in particular how that compare to the tech industry a a whole how we collect organize and share employee demographic data is informed by standard set by the equal employment opportunity commission eeoc\nwe are proud to celebrate how weve grown and are motivated and committed to do more and be better to view the report visit the link here or download it below'

#### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.
- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [26]:
def remove_stopwords(text, extra_words=[], exclude_words=[]):
    words = text.split(' ')
    stopwords_list = stopwords.words('english')
    if len(extra_words) > 0:
        stopwords_list.extend(extra_words)
    if len(exclude_words) > 0:
        [stopwords_list.remove(w) for w in exclude_words]
    filtered_words = [word for word in words if word not in stopwords_list]
    return ' '.join(filtered_words)

In [28]:
remove_stopwords(l, ['codeup', 'excited'], ['is', 'to'])

'is to launch first diversity equity inclusion dei report eight year organization weve implemented policy grown dei effort extremely proud progress weve made staff community recognize is to learn report capture way weve lived value cultivating inclusive growth continue look to future\nwe wanted to shine light demographic student staff particular compare to tech industry whole collect organize share employee demographic data is informed standard set equal employment opportunity commission eeoc\nwe proud to celebrate weve grown motivated committed to better to view report visit link download'

#### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [93]:
news_df = acquire.get_news_articles()

/Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py:22: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 22 of the file /Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(requests.get(url).content)
/Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py:31: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 31 of the file /Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  cat_soup = BeautifulSoup(requests.get(cat_url).content)

#### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [94]:
codeup_df = acquire.get_blog_articles()

/Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py:15: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 15 of the file /Users/morgancross/codeup-data-science/natural-language-processing-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  article_soup = BeautifulSoup(requests.get(blog, headers=header).content)

#### 8. For each dataframe, produce the following columns:
- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [86]:
def clean_df_prep_exercise(df, extra_words=[], exclude_words=[]):
    d = df.copy()
    d = d.rename(columns={'content':'content_original'})
    d['content_clean'] = [remove_stopwords(tokenize(basic_clean(entry)), extra_words, exclude_words) for entry in d.content_original]
    d['content_stemmed'] = clean_data(d.content_original, 'stemming', extra_words, exclude_words)
    d['content_lemmatized'] = clean_data(d.content_original, 'lemmatize', extra_words, exclude_words)
    return d

In [91]:
news_df = clean_df_prep_exercise(news)

In [92]:
news_df.head()

,title,content_original,category,content_clean,content_stemmed,content_lemmatized
0,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I...",india,regulatory filing bse friday infosys ltd decid...,regulatori file bse friday infosi ltd decid gi...,regulatory filing bse friday infosys ltd decid...
1,Oldest woman in India passes away,"Kunjannam, a 112-yr-old woman from Parannur (K...",india,kunjannam 112yrold woman parannur kerala decla...,kunjannam 112yrold woman parannur kerala wa de...,kunjannam 112yrold woman parannur kerala wa de...
2,Kashmir's famous Dal Lake freezes,After the recent snowfall in upper reaches of ...,india,recent snowfall upper reaches kashmir himalaya...,recent snowfal upper reach kashmir himalayan p...,recent snowfall upper reach kashmir himalayan ...
3,Bharti Airtel rakes in 61% profit,"Bharti Airtel, India's top telecommunications ...",india,bharti airtel india ' top telecommunications c...,bharti airtel india ' top telecommun compani h...,bharti airtel india ' top telecommunication co...
4,"Indian Navy gets VLF, easy communication with ...",The Indian navy has a new communication system...,india,indian navy new communication system critical ...,indian navi ha new commun system critic pass c...,indian navy ha new communication system critic...

#### 9. Ask yourself:
1. If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
    - lemmatize, relatively small dataset, not computationally expensive to lemmatize the whole thing
2. If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
    - depends. this could go either way depending on time allowed, computational resources, and project needs
3. If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?
    - stemming, massive dataset that is both computationally and monetarily expensive to try and lemmatize

---
#### Make it more modular!

In [54]:
def clean_data(col, method='lemmatize', extra_words=[], exclude_words=[]):
    bc = [basic_clean(entry) for entry in col]   
    t = [tokenize(entry) for entry in bc]
    if method == 'lemmatize':
        l = [lemmatize(entry) for entry in t]
        return [remove_stopwords(entry, extra_words, exclude_words) for entry in l]
    if method == 'stemming':
        s = [stem(entry) for entry in t]
        return [remove_stopwords(entry, extra_words, exclude_words) for entry in s]

In [55]:
clean_data(blogs.content, extra_words=['codeup'], exclude_words=['is'])[1]

'ha named 2022 diversity inclusion award winner san antonio business journal\nwe thrilled among take pride ensuring diversity equity inclusion dei priority work environments\nto learn effort please check dei report 2022'

In [81]:
def clean_df(df, cols_to_clean, method='lemmatize', extra_words=[], exclude_words=[]):
    d = df.copy()
    for col in cols_to_clean:
        d[col+'_clean'] = clean_data(d[col], method, extra_words, exclude_words)
    return d

In [70]:
blogs.columns

Index(['title', 'content'], dtype='object')

In [71]:
clean_data(blogs.title)

['diversity equity inclusion report',
 'codeup honored sabj diversity inclusion award winner',
 'finance career transition',
 'tip woman beginning career tech',
 'cloud computing aws',
 '2022 sabj csuite award winner stephen noteboom']

In [76]:
clean_df(blogs,['title', 'content'], 'stemming')

,title,content,title_clean,content_clean
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,divers equiti inclus report,codeup excit launch first divers equiti inclus...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...,codeup honor sabj divers inclus award winner,codeup ha name 2022 divers inclus award winner...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...,financ career transit,decid transit tech career big step signific co...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio...",tip women begin career tech,codeup strongli valu divers inclus honor ameri...
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...,cloud comput aw,mani compani switch cloud servic implement clo...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note...",2022 sabj csuit award winner stephen noteboom,codeup chief oper offic stephen noteboom ha 20...

In [78]:
clean_df(news, ['title', 'content'])

,title,content,category,title_clean,content_clean
0,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I...",india,infosys gift sikka share worth r 82cr,regulatory filing bse friday infosys ltd decid...
1,Oldest woman in India passes away,"Kunjannam, a 112-yr-old woman from Parannur (K...",india,oldest woman india pass away,kunjannam 112yrold woman parannur kerala wa de...
2,Kashmir's famous Dal Lake freezes,After the recent snowfall in upper reaches of ...,india,kashmir ' famous dal lake freeze,recent snowfall upper reach kashmir himalayan ...
3,Bharti Airtel rakes in 61% profit,"Bharti Airtel, India's top telecommunications ...",india,bharti airtel rake 61 profit,bharti airtel india ' top telecommunication co...
4,"Indian Navy gets VLF, easy communication with ...",The Indian navy has a new communication system...,india,indian navy get vlf easy communication underwa...,indian navy ha new communication system critic...
...,...,...,...,...,...
280,Amazon-backed Rivian's shares fall 9% after it...,Amazon-backed EV-maker Rivian on Friday recall...,automobile,amazonbacked rivian ' share fall 9 recall ev,amazonbacked evmaker rivian friday recalled ne...
281,Vintage cars on display to promote wildlife pr...,"To create awareness about wildlife week, the K...",automobile,vintage car display promote wildlife protectio...,create awareness wildlife week karnataka fores...
282,Vehicle registrations during festivals doubled...,Vehicle registrations more than doubled in thi...,automobile,vehicle registration festival doubled compared...,vehicle registration doubled year ' navratri d...
283,Tesla to remove more sensors from cars amid au...,"As Tesla faces autopilot scrutiny, it will onl...",automobile,tesla remove sensor car amid autopilot scrutiny,tesla face autopilot scrutiny use camera safet...
284,Car rental startup Zoomcar may go public via S...,Bengaluru-based car rental startup Zoomcar has...,automobile,car rental startup zoomcar may go public via s...,bengalurubased car rental startup zoomcar ha r...

---

#### Test prepare

In [87]:
import prepare

In [88]:
prepare.clean_df_prep_exercise(blogs)

,title,content_original,content_clean,content_stemmed,content_lemmatized
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup excited launch first diversity equity i...,codeup excit launch first divers equiti inclus...,codeup excited launch first diversity equity i...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...,codeup named 2022 diversity inclusion award wi...,codeup ha name 2022 divers inclus award winner...,codeup ha named 2022 diversity inclusion award...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...,deciding transition tech career big step signi...,decid transit tech career big step signific co...,deciding transition tech career big step signi...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio...",codeup strongly values diversity inclusion hon...,codeup strongli valu divers inclus honor ameri...,codeup strongly value diversity inclusion hono...
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...,many companies switching cloud services implem...,mani compani switch cloud servic implement clo...,many company switching cloud service implement...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note...",codeups chief operating officer stephen notebo...,codeup chief oper offic stephen noteboom ha 20...,codeups chief operating officer stephen notebo...

In [90]:
prepare.clean_df(blogs, ['content'])

,title,content,content_clean
0,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup excited launch first diversity equity i...
1,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...,codeup ha named 2022 diversity inclusion award...
2,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...,deciding transition tech career big step signi...
3,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio...",codeup strongly value diversity inclusion hono...
4,What is Cloud Computing and AWS?,With many companies switching to cloud service...,many company switching cloud service implement...
5,2022 SABJ C-Suite Award Winner: Stephen Noteboom,"Codeup’s Chief Operating Officer, Stephen Note...",codeups chief operating officer stephen notebo...