In [2]:
import pandas as pd
import re

#### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel.

In [222]:
def is_vowel(s):
    r = r'[aeiou]'
    results = re.findall(r, s, re.IGNORECASE)

    if (len(results) == 1) & (len(s) == 1):
        return True
    else:
        return False

In [223]:
is_vowel('A')

True

In [230]:
# another way
def is_vowel2(s):
    r = r'^[aeiou]$'
    match = re.search(r, s, re.IGNORECASE)
    
    if match:
        return True
    else:
        return False

In [231]:
is_vowel2('Ag')

False

#### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [262]:
def is_valid_username(s):
    r = r'^[a-z][a-zA-Z0-9_]*$'
    results = re.search(r, s)
    if results is None:
        return False
    elif len(s) > 32:
        return False
    else:
        return True

In [264]:
is_valid_username('a_bcdehijklmnopqrstvwxyzabcde_')

True

In [265]:
# another way, \w includes the underscore character!
def is_valid_username2(s):
    r = r'^[a-z]\w{,31}$'
    
    if re.search(r, s):
        return True
    else:
        return False

In [266]:
is_valid_username2('aaaaaabcdefghijklmnopyzabcde_')

True

In [267]:
is_valid_username2('a!')

False

#### 3. Write a regular expression to capture phone numbers.

In [268]:
def capture_phone_numbers(s):
    r = r'[0-9][0-9][0-9].[0-9][0-9][0-9].[0-9][0-9][0-9][0-9]'
    results = re.findall(r, s)
    final = []
    for number in results:
        final.append(re.sub(r'[^0-9]', '-', number))
        
    return final

In [269]:
s='a number is 123-456-7890 here too 234/345-7632 and another one 453-213-4123 and a bad one 353-1453-124'
capture_phone_numbers(s)

['123-456-7890', '234-345-7632', '453-213-4123']

In [258]:
test = '''(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309'''
capture_phone_numbers(test)

['210-867-5309', '210-867-5309']

In [320]:
# another way
def capture_phone_numbers2(numbers):
    r = r'^.*?\d+?.?\d+?\D*?\d+.?\d{4}$'
    for number in numbers:
        if re.search(r, number):
            print(f'{number} is a phone number')
        else:
            print(f'{number} is not a phone number')

In [321]:
test = ['(210) 867 5309',
'+1 210.867.5309',
'867-5309',
'210-867-5309',
'abc',
'238768']
capture_phone_numbers2(test)

(210) 867 5309 is a phone number
+1 210.867.5309 is a phone number
867-5309 is a phone number
210-867-5309 is a phone number
abc is not a phone number
238768 is not a phone number

#### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [322]:
import datetime

In [323]:
s = '''02/04/19
        02/05/19
        02/06/19
        02/07/19
        02/08/19
        02/09/19
        02/10/19'''
r = r'([0-9][0-9]/[0-9][0-9]/[0-9][0-9])'
results = re.findall(r, s)
final = []
for x in results:
    day = pd.to_datetime(x)
    final.append(day.strftime('%Y') + '/' + day.strftime('%m') + '/' + day.strftime('%d'))
final

['2019/02/04',
 '2019/02/05',
 '2019/02/06',
 '2019/02/07',
 '2019/02/08',
 '2019/02/09',
 '2019/02/10']

In [336]:
# another way, can call on and rearrange capture groups
dates =['02/04/19',
        '02/05/19',
        '02/06/19',
        '02/07/19',
        '02/08/19',
        '02/09/19',
        '02/10/19']
r = r'(\d{2})/(\d{2})/(\d{2})'
for date in dates:
    print(re.sub(r, r'20\3/\1/\2' ,date))

2019/02/04
2019/02/05
2019/02/06
2019/02/07
2019/02/08
2019/02/09
2019/02/10

#### 5. Write a regex to extract the various parts of these logfile lines:

In [349]:
files = '''
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
'''

In [350]:
lines = pd.Series(files.strip().split('\n'))
lines[0]

'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'

In [351]:
regex = r'''
(?P<method>.*?)\s
(?P<path>.*?\s)\[
(?P<timestamp>.*?)\]\s.*?\{
(?P<status>.*?)\}\s
(?P<bytes>\d*)\s"
(?P<user_agent>.*?)"\s.*?
(?P<ip>.*?)$
'''
regex = re.compile(regex, re.VERBOSE)
lines.str.extract(regex)

,method,path,timestamp,status,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19.58

In [404]:
# another way
r = r'''
(?P<method>\w+)\s
(?P<path>.*?)\s\[
(?P<date>.*?)\:.*?\s
(?P<http_version>.*?)\s\{
(?P<response_code>\d+).*?
(?P<bytes>\d+)\s"
(?P<user_agent>.*?)"\s
(?P<ip>.*)'''


logs_parsed = [re.search(r, log, re.VERBOSE).groupdict() for log in lines] 
logs_parsed

[{'method': 'GET',
  'path': '/api/v1/sales?page=86',
  'date': '16/Apr/2019',
  'http_version': 'HTTP/1.1',
  'response_code': '200',
  'bytes': '510348',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'},
 {'method': 'POST',
  'path': '/users_accounts/file-upload',
  'date': '16/Apr/2019',
  'http_version': 'HTTP/1.1',
  'response_code': '201',
  'bytes': '42',
  'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
  'ip': '97.105.19.58'},
 {'method': 'GET',
  'path': '/api/v1/items?page=3',
  'date': '16/Apr/2019',
  'http_version': 'HTTP/1.1',
  'response_code': '429',
  'bytes': '3561',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'}]

In [405]:
pd.DataFrame(logs_parsed)

,method,path,date,http_version,response_code,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

#### Bonus: 
- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [212]:
f = open('/usr/share/dict/words', 'r')
words = f.read()

In [406]:
words = words.split('\n')

In [407]:
len(words)

235887